parameters:
	ignoreErrors:
		-
			message: "#^Call to function in_array\\(\\) requires parameter \\#3 to be set\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Casting to bool something that's already bool\\.$#"
			count: 3
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:__construct\\(\\) has parameter \\$outputDir with no type specified\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:addFileFilter\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:addFilter\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:enableDebugging\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:generate\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:generateFiles\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:generateFiles\\(\\) has parameter \\$files with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:generateFiles\\(\\) has parameter \\$ifModified with no type specified\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:generateFiles\\(\\) has parameter \\$watchFiles with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:getContent\\(\\) has parameter \\$files with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:getFileFilters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:getFilters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:getLastModified\\(\\) has parameter \\$files with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:setCheckLastModified\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:setFileCollection\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:setJoinFiles\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:setOutputDir\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Method WebLoader\\\\Compiler\\:\\:setOutputNamingConvention\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Only booleans are allowed in a negated boolean, int\\<0, max\\> given\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Parameter \\$filter of method WebLoader\\\\Compiler\\:\\:addFileFilter\\(\\) has invalid type WebLoader\\\\callback\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Parameter \\$filter of method WebLoader\\\\Compiler\\:\\:addFilter\\(\\) has invalid type WebLoader\\\\callback\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Property WebLoader\\\\Compiler\\:\\:\\$fileFilters type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Property WebLoader\\\\Compiler\\:\\:\\$filters type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Compiler.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: ../src/Compiler.php

		-
			message: "#^Casting to string something that's already string\\.$#"
			count: 2
			path: ../src/DefaultOutputNamingConvention.php

		-
			message: "#^Method WebLoader\\\\DefaultOutputNamingConvention\\:\\:createHash\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/DefaultOutputNamingConvention.php

		-
			message: "#^Method WebLoader\\\\DefaultOutputNamingConvention\\:\\:createHash\\(\\) has parameter \\$files with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/DefaultOutputNamingConvention.php

		-
			message: "#^Method WebLoader\\\\DefaultOutputNamingConvention\\:\\:getFilename\\(\\) has parameter \\$files with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/DefaultOutputNamingConvention.php

		-
			message: "#^Method WebLoader\\\\DefaultOutputNamingConvention\\:\\:setPrefix\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/DefaultOutputNamingConvention.php

		-
			message: "#^Method WebLoader\\\\DefaultOutputNamingConvention\\:\\:setSuffix\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/DefaultOutputNamingConvention.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: ../src/DefaultOutputNamingConvention.php

		-
			message: "#^Call to function in_array\\(\\) requires parameter \\#3 to be set\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Casting to string something that's already string\\.$#"
			count: 2
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addFile\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addFiles\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addFiles\\(\\) has parameter \\$files with no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addFiles\\(\\) has parameter \\$files with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addFiles\\(\\) has parameter \\$files with no value type specified in iterable type array\\|Traversable\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addRemoteFile\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addRemoteFiles\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addRemoteFiles\\(\\) has parameter \\$files with no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addRemoteFiles\\(\\) has parameter \\$files with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addRemoteFiles\\(\\) has parameter \\$files with no value type specified in iterable type array\\|Traversable\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addWatchFile\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addWatchFiles\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addWatchFiles\\(\\) has parameter \\$files with no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addWatchFiles\\(\\) has parameter \\$files with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:addWatchFiles\\(\\) has parameter \\$files with no value type specified in iterable type array\\|Traversable\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:clear\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:getFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:getRemoteFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:getWatchFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:removeFile\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:removeFiles\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\FileCollection\\:\\:removeFiles\\(\\) has parameter \\$files with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Property WebLoader\\\\FileCollection\\:\\:\\$files type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Property WebLoader\\\\FileCollection\\:\\:\\$remoteFiles type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Property WebLoader\\\\FileCollection\\:\\:\\$root \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Property WebLoader\\\\FileCollection\\:\\:\\$watchFiles type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/FileCollection.php

		-
			message: "#^Method WebLoader\\\\Filter\\\\CssUrlsFilter\\:\\:__invoke\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: ../src/Filter/CssUrlsFilter.php

		-
			message: "#^Method WebLoader\\\\Filter\\\\CssUrlsFilter\\:\\:setBasePath\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Filter/CssUrlsFilter.php

		-
			message: "#^Only booleans are allowed in an if condition, int\\|false given\\.$#"
			count: 1
			path: ../src/Filter/CssUrlsFilter.php

		-
			message: "#^Parameter \\#3 \\$cssFile of method WebLoader\\\\Filter\\\\CssUrlsFilter\\:\\:absolutizeUrl\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: ../src/Filter/CssUrlsFilter.php

		-
			message: "#^Method WebLoader\\\\Filter\\\\LessBinFilter\\:\\:__construct\\(\\) has parameter \\$env with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Filter/LessBinFilter.php

		-
			message: "#^Property WebLoader\\\\Filter\\\\LessBinFilter\\:\\:\\$env type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Filter/LessBinFilter.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 1
			path: ../src/Filter/LessFilter.php

		-
			message: "#^Property WebLoader\\\\Filter\\\\LessFilter\\:\\:\\$lc has no type specified\\.$#"
			count: 1
			path: ../src/Filter/LessFilter.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 1
			path: ../src/Filter/Process.php

		-
			message: "#^Loose comparison via \"\\!\\=\" is not allowed\\.$#"
			count: 1
			path: ../src/Filter/Process.php

		-
			message: "#^Method WebLoader\\\\Filter\\\\Process\\:\\:run\\(\\) has parameter \\$env with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Filter/Process.php

		-
			message: "#^Method WebLoader\\\\Filter\\\\Process\\:\\:run\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: ../src/Filter/Process.php

		-
			message: "#^PHPDoc tag @throws with type RuntimeExeption is not subtype of Throwable$#"
			count: 1
			path: ../src/Filter/Process.php

		-
			message: "#^Parameter \\#1 \\$message of class RuntimeException constructor expects string, string\\|false given\\.$#"
			count: 1
			path: ../src/Filter/Process.php

		-
			message: "#^Parameter \\#1 \\$process of function proc_close expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../src/Filter/Process.php

		-
			message: "#^Call to method compile\\(\\) on an unknown class scssc\\.$#"
			count: 1
			path: ../src/Filter/ScssFilter.php

		-
			message: "#^Call to method setImportPaths\\(\\) on an unknown class scssc\\.$#"
			count: 1
			path: ../src/Filter/ScssFilter.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 1
			path: ../src/Filter/ScssFilter.php

		-
			message: "#^Method WebLoader\\\\Filter\\\\ScssFilter\\:\\:getScssC\\(\\) has invalid return type scssc\\.$#"
			count: 1
			path: ../src/Filter/ScssFilter.php

		-
			message: "#^Property WebLoader\\\\Filter\\\\ScssFilter\\:\\:\\$sc \\(Leafo\\\\ScssPhp\\\\Compiler\\) does not accept Leafo\\\\ScssPhp\\\\Compiler\\|null\\.$#"
			count: 1
			path: ../src/Filter/ScssFilter.php

		-
			message: "#^Property WebLoader\\\\Filter\\\\ScssFilter\\:\\:\\$sc \\(Leafo\\\\ScssPhp\\\\Compiler\\) in empty\\(\\) is not falsy\\.$#"
			count: 1
			path: ../src/Filter/ScssFilter.php

		-
			message: "#^Method WebLoader\\\\Filter\\\\StylusFilter\\:\\:__construct\\(\\) has parameter \\$bin with no type specified\\.$#"
			count: 1
			path: ../src/Filter/StylusFilter.php

		-
			message: "#^Parameter \\#1 \\$path of function pathinfo expects string, string\\|null given\\.$#"
			count: 2
			path: ../src/Filter/StylusFilter.php

		-
			message: "#^Method WebLoader\\\\Filter\\\\TypeScriptFilter\\:\\:__construct\\(\\) has parameter \\$env with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Filter/TypeScriptFilter.php

		-
			message: "#^Method WebLoader\\\\Filter\\\\TypeScriptFilter\\:\\:__invoke\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: ../src/Filter/TypeScriptFilter.php

		-
			message: "#^Parameter \\#1 \\$arg of function escapeshellarg expects string, string\\|null given\\.$#"
			count: 1
			path: ../src/Filter/TypeScriptFilter.php

		-
			message: "#^Parameter \\#1 \\$path of function pathinfo expects string, string\\|null given\\.$#"
			count: 1
			path: ../src/Filter/TypeScriptFilter.php

		-
			message: "#^Parameter \\#1 \\$str of function substr_replace expects array\\|string, string\\|null given\\.$#"
			count: 1
			path: ../src/Filter/TypeScriptFilter.php

		-
			message: "#^Property WebLoader\\\\Filter\\\\TypeScriptFilter\\:\\:\\$env type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Filter/TypeScriptFilter.php

		-
			message: "#^Casting to string something that's already string\\.$#"
			count: 3
			path: ../src/Filter/VariablesFilter.php

		-
			message: "#^Method WebLoader\\\\Filter\\\\VariablesFilter\\:\\:__construct\\(\\) has parameter \\$variables with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Filter/VariablesFilter.php

		-
			message: "#^Property WebLoader\\\\Filter\\\\VariablesFilter\\:\\:\\$variables type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Filter/VariablesFilter.php

		-
			message: "#^Variable property access on \\$this\\(WebLoader\\\\Filter\\\\VariablesFilter\\)\\.$#"
			count: 1
			path: ../src/Filter/VariablesFilter.php

		-
			message: "#^Method WebLoader\\\\IFileCollection\\:\\:getFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/IFileCollection.php

		-
			message: "#^Method WebLoader\\\\IFileCollection\\:\\:getRemoteFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/IFileCollection.php

		-
			message: "#^Method WebLoader\\\\IFileCollection\\:\\:getWatchFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/IFileCollection.php

		-
			message: "#^Method WebLoader\\\\IOutputNamingConvention\\:\\:getFilename\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/IOutputNamingConvention.php

		-
			message: "#^Method WebLoader\\\\IOutputNamingConvention\\:\\:getFilename\\(\\) has parameter \\$files with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/IOutputNamingConvention.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\Diagnostics\\\\Panel\\:\\:compute\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Nette/Diagnostics/Panel.php

		-
			message: "#^Offset 'combined' might not exist on array\\{original\\: int\\<0, max\\>, combined\\?\\: int\\<0, max\\>\\}\\.$#"
			count: 1
			path: ../src/Nette/Diagnostics/Panel.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, array given\\.$#"
			count: 1
			path: ../src/Nette/Diagnostics/Panel.php

		-
			message: "#^Only numeric types are allowed in \\+, int\\<0, max\\>\\|false given on the right side\\.$#"
			count: 5
			path: ../src/Nette/Diagnostics/Panel.php

		-
			message: "#^Parameter \\#1 \\$str of function lcfirst expects string, \\(string\\|false\\) given\\.$#"
			count: 1
			path: ../src/Nette/Diagnostics/Panel.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, \\(int\\|string\\) given\\.$#"
			count: 1
			path: ../src/Nette/Diagnostics/Panel.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, string\\|false given\\.$#"
			count: 1
			path: ../src/Nette/Diagnostics/Panel.php

		-
			message: "#^Property WebLoader\\\\Nette\\\\Diagnostics\\\\Panel\\:\\:\\$files type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Nette/Diagnostics/Panel.php

		-
			message: "#^Property WebLoader\\\\Nette\\\\Diagnostics\\\\Panel\\:\\:\\$size type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Nette/Diagnostics/Panel.php

		-
			message: "#^Property WebLoader\\\\Nette\\\\Diagnostics\\\\Panel\\:\\:\\$sizes type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Nette/Diagnostics/Panel.php

		-
			message: "#^Property WebLoader\\\\Nette\\\\Diagnostics\\\\Panel\\:\\:\\$types type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Nette/Diagnostics/Panel.php

		-
			message: "#^Anonymous function uses \\$this assigned to variable \\$self\\. Use \\$this directly in the function body\\.$#"
			count: 1
			path: ../src/Nette/Extension.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\Extension\\:\\:addWebLoader\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Nette/Extension.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\Extension\\:\\:addWebLoader\\(\\) has parameter \\$config with no type specified\\.$#"
			count: 1
			path: ../src/Nette/Extension.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\Extension\\:\\:addWebLoader\\(\\) has parameter \\$name with no type specified\\.$#"
			count: 1
			path: ../src/Nette/Extension.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\Extension\\:\\:checkFileExists\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Nette/Extension.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\Extension\\:\\:findFiles\\(\\) has parameter \\$filesConfig with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Nette/Extension.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\Extension\\:\\:findFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Nette/Extension.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\Extension\\:\\:getDefaultConfig\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Nette/Extension.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\Extension\\:\\:install\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Nette/Extension.php

		-
			message: "#^Offset 'tempDir' might not exist on array\\|string\\.$#"
			count: 3
			path: ../src/Nette/Extension.php

		-
			message: "#^Offset 'tempPath' might not exist on array\\|string\\.$#"
			count: 1
			path: ../src/Nette/Extension.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\LoaderFactory\\:\\:__construct\\(\\) has parameter \\$tempPaths with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Nette/LoaderFactory.php

		-
			message: "#^Property WebLoader\\\\Nette\\\\LoaderFactory\\:\\:\\$tempPaths type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/Nette/LoaderFactory.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\WebLoader\\:\\:__construct\\(\\) has parameter \\$tempPath with no type specified\\.$#"
			count: 1
			path: ../src/Nette/WebLoader.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\WebLoader\\:\\:getGeneratedFilePath\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Nette/WebLoader.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\WebLoader\\:\\:getGeneratedFilePath\\(\\) has parameter \\$file with no type specified\\.$#"
			count: 1
			path: ../src/Nette/WebLoader.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\WebLoader\\:\\:render\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Nette/WebLoader.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\WebLoader\\:\\:setCompiler\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Nette/WebLoader.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\WebLoader\\:\\:setTempPath\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Nette/WebLoader.php

		-
			message: "#^Method WebLoader\\\\Nette\\\\WebLoader\\:\\:setTempPath\\(\\) has parameter \\$tempPath with no type specified\\.$#"
			count: 1
			path: ../src/Nette/WebLoader.php

		-
			message: "#^WebLoader\\\\Nette\\\\WebLoader\\:\\:__construct\\(\\) does not call parent constructor from Nette\\\\ComponentModel\\\\Component\\.$#"
			count: 1
			path: ../src/Nette/WebLoader.php

		-
			message: "#^Method WebLoader\\\\Path\\:\\:normalize\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../src/Path.php

		-
			message: "#^Method WebLoader\\\\Path\\:\\:normalize\\(\\) has parameter \\$path with no type specified\\.$#"
			count: 1
			path: ../src/Path.php

		-
			message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:andReturn\\(\\)\\.$#"
			count: 2
			path: ../tests/CompilerTest.php

		-
			message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:andReturnUsing\\(\\)\\.$#"
			count: 1
			path: ../tests/CompilerTest.php

		-
			message: "#^Method WebLoader\\\\Test\\\\CompilerTest\\:\\:getTempFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../tests/CompilerTest.php

		-
			message: "#^Method WebLoader\\\\Test\\\\CompilerTest\\:\\:getTempFiles\\(\\) should return array but returns array\\<int, string\\>\\|false\\.$#"
			count: 1
			path: ../tests/CompilerTest.php

		-
			message: "#^Parameter \\#1 \\$files of class WebLoader\\\\Compiler constructor expects WebLoader\\\\IFileCollection, Mockery\\\\LegacyMockInterface given\\.$#"
			count: 1
			path: ../tests/CompilerTest.php

		-
			message: "#^Parameter \\#1 \\$filter of method WebLoader\\\\Compiler\\:\\:addFileFilter\\(\\) expects WebLoader\\\\callback, Closure given\\.$#"
			count: 4
			path: ../tests/CompilerTest.php

		-
			message: "#^Parameter \\#1 \\$filter of method WebLoader\\\\Compiler\\:\\:addFileFilter\\(\\) expects WebLoader\\\\callback, int given\\.$#"
			count: 1
			path: ../tests/CompilerTest.php

		-
			message: "#^Parameter \\#1 \\$filter of method WebLoader\\\\Compiler\\:\\:addFilter\\(\\) expects WebLoader\\\\callback, Closure given\\.$#"
			count: 4
			path: ../tests/CompilerTest.php

		-
			message: "#^Parameter \\#1 \\$filter of method WebLoader\\\\Compiler\\:\\:addFilter\\(\\) expects WebLoader\\\\callback, int given\\.$#"
			count: 1
			path: ../tests/CompilerTest.php

		-
			message: "#^Parameter \\#2 \\$convention of class WebLoader\\\\Compiler constructor expects WebLoader\\\\IOutputNamingConvention, Mockery\\\\LegacyMockInterface given\\.$#"
			count: 1
			path: ../tests/CompilerTest.php

		-
			message: "#^Property WebLoader\\\\Test\\\\DefaultOutputNamingConventionTest\\:\\:\\$compiler has no type specified\\.$#"
			count: 1
			path: ../tests/DefaultOutputNamingConventionTest.php

		-
			message: "#^Method WebLoader\\\\Test\\\\FileCollectionTest\\:\\:assertEqualPaths\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../tests/FileCollectionTest.php

		-
			message: "#^Method WebLoader\\\\Test\\\\FileCollectionTest\\:\\:assertEqualPaths\\(\\) has parameter \\$actual with no type specified\\.$#"
			count: 1
			path: ../tests/FileCollectionTest.php

		-
			message: "#^Method WebLoader\\\\Test\\\\FileCollectionTest\\:\\:assertEqualPaths\\(\\) has parameter \\$expected with no type specified\\.$#"
			count: 1
			path: ../tests/FileCollectionTest.php

		-
			message: "#^Parameter \\#1 \\$code of callable WebLoader\\\\Filter\\\\LessFilter expects string, string\\|false given\\.$#"
			count: 1
			path: ../tests/Filter/LessFilterTest.php

		-
			message: "#^Parameter \\#1 \\$code of callable WebLoader\\\\Filter\\\\ScssFilter expects string, string\\|false given\\.$#"
			count: 1
			path: ../tests/Filter/ScssFilterTest.php

		-
			message: "#^Parameter \\#1 \\$code of callable WebLoader\\\\Filter\\\\VariablesFilter expects string, string\\|false given\\.$#"
			count: 1
			path: ../tests/Filter/ScssFilterTest.php

		-
			message: "#^Access to an undefined property WebLoader\\\\Filter\\\\VariablesFilter\\:\\:\\$bar\\.$#"
			count: 1
			path: ../tests/Filter/VariablesFilterTest.php

		-
			message: "#^Call to function in_array\\(\\) requires parameter \\#3 to be set\\.$#"
			count: 2
			path: ../tests/Nette/ExtensionTest.php

		-
			message: "#^Method WebLoader\\\\Test\\\\Nette\\\\ExtensionTest\\:\\:prepareContainer\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../tests/Nette/ExtensionTest.php

		-
			message: "#^Method WebLoader\\\\Test\\\\Nette\\\\ExtensionTest\\:\\:prepareContainer\\(\\) has parameter \\$configFiles with no type specified\\.$#"
			count: 1
			path: ../tests/Nette/ExtensionTest.php
